@charset "utf-8";
/*
common.css
설명 : 공통요소, 헤더, 푸터 정보
최초 작성일 : 2024.09.19
최초 작성자 : 김정은
*/

/********************** 공통 css *********************/
#wrap {
  min-width: 320px;
  position: relative;
}
.inner {
  max-width: 1400px;
  padding: 0 10%;
  margin: 0 auto;
}
/********************** header *********************/
/* 모바일 */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnb {
  display: none;
}
header .logo{
  width: 120px;
  height: 50px;
  margin: 15px;
}
header .util {
  display: flex;
  gap: 5px;
}
header .util li {
  opacity: 0.5;
  transition: opacity 0.5s;
}
header .util li:hover {
  opacity: 1;
}
header .util .btn-search {
  display: none;
}

/*모바일 메뉴*/
.mgnb-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #292929;
  padding: 80px 30px;
}
.mgnb {
  padding: 50px 40px;
}
.mgnb > li {
  padding-bottom: 15px;
}
.mgnb > li.active > a{
  color:#c94d28;
}
.mgnb > li > a {
  font-size: 2.4rem;
}
.m-depth2 {
  padding: 20px;
}
.m-depth2 > li {
  padding-bottom: 10px;
}
.m-depth2 > li > a {
  font-weight: 300;
  opacity: 0.6;
  transition: color 0.5s;
}

.mgnb-close {
  position: absolute;
  top: 110px;
  right: 45px;
}

/* 모바일 검색창 */
.m-search {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #292929;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-search input[type="text"] {
  background: none;
  border-bottom: 2px solid #888;
  width: 300px;
  height: 50px;
  font-family:"Noto Sans KR", sans-serif;
  font-size: 2rem;
  color: #fff;
}
.m-search button {
  background: none;
  border: 0;
}
.m-search button img {
  width: 35px;
  height: 50px;
  vertical-align: middle;
}
.m-search .search-close {
  position: absolute;
  top: 200px;
  right: 45px;
  background-color: #525252;
}
.search {
  display: none;
}

/* 데스크탑 */
@media screen and (min-width: 1200px){
  header .gnb {
    display: flex;
    gap: 50px;
  }
  header .gnb > li {
    z-index: 99;
    top: 30px;
  }
  header .gnb > li > a {
    display: block;
    transition: font-weight 0.5s, color 0.5s;
    cursor: url(../img/etc/cursor2.svg) 5 5, auto;
  }
  header .gnb > li:hover > a {
    font-weight: 500;
    color:#c94d28;
  }
  header .gnb > li > a:last-child {
    color: #c94d28;
  }
  header .gnb .depth2 {
    position: absolute;
    top: 90px;
  }
  header .gnb .depth2 li {
    padding-bottom: 10px;
  }
  header .gnb .depth2 li a {
    font-size: 2rem;
    color: rgba(255,255,255,0.5);
    transition: color 0.5s;
    cursor: url(../img/etc/cursor2.svg) 5 5, auto;
  }
  header .gnb .depth2 li:hover a {
    opacity: 1;
    color: #c94d28;
  }
  header .depth2-bg {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(88,88,88,0.5);
  }
  header .util {
    gap: 10px;
  }
  header .util .ham {
    display: none;
  }


  /* 데스크탑 검색창 */
  .search {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(88,88,88,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search input[type="text"] {
    background: none;
    border-bottom: 2px solid #888;
    font-family:"Noto Sans KR", sans-serif;
    font-size: 2rem;
    color: #fff;
    width: 360px;
    height: 50px;
  }
  .search button {
    background: none;
    border: 0;
    cursor: pointer;
  }
  .search button img {
    width: 30px;
    height: 50px;
  }
  .search .search-close {
    position: absolute;
    top: 100px;
    right: 300px;
    background-color: #525252;
    cursor: pointer;
  }
  header .search-bg {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(88,88,88,0.5);
  }
  header .util .btn-search {
    display: block;
    cursor: pointer;
  }
  header .util .m-btn-search {
    display: none;
  }
}




/********************** footer *********************/
/* 모바일 */
footer {
  background-color: #D8CFC6;
  padding: 50px 0;
}
footer .waveline img {
  width: 100%;
  margin-bottom: 50px;
}
footer .sitemap {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
footer h1 {
  width: 30%;
}
footer h1 img {
  width: 100%;
}
footer .f-nav {
  display: flex;
  gap: 20px;
  text-align: center;
}
footer .f-nav dt {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .f-nav dd a {
  color: #616161;
  font-size: 10px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  transition: color 0.5s;
}

footer .f-nav dl .sns-icon{
  width: 100%;
  display: flex;
  gap: 3px;
}
footer .f-nav dl .sns-icon img {
  width: 60%;
}
footer .f-info {
  color:#000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 30px;
  margin: 20px 0;
  font-size: 10px;
}
footer .address-box {
  margin-bottom: 20px;
}
footer .address-box a {
  color:#616161;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}
footer .copy {
  text-align: center;
  font-size: 10px;
  color:#000;
  padding-top: 10px;
}

/* 데스크탑 */
@media screen and (min-width: 1200px){
  footer {
    padding: 100px 0;
  }
  footer .waveline img {
    width: 100%;
    margin-bottom: 180px;
  }
  footer .sitemap {
    justify-content: space-between;
    margin-bottom: 160px;
  }
  footer h1 {
    width: 20%;
  }
  footer .f-nav {
    gap: 100px;
  }
  footer .f-nav dt {
    font-size: 24px;
    margin-bottom: 20px;
  }
  footer .f-nav dd a {
    font-size: 16px;
  }
  footer .f-nav dd:hover a {
    color:#c94d28;
  }
  footer .f-nav dl .sns-icon{
    gap: 10px;
  }
  footer .f-nav dl .sns-icon img {
    width: 80%;
  }
  footer .f-info {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 30px 300px;
    margin: 30px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  footer .add-container a {
    margin-top: 20px;
  }
  footer .contact {
    justify-content: center;
  }
  footer .copy {
    font-size: 16px;
  }
  
}

